
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>ポイント利用履歴:</strong>
  <% if @user.points.any? %>
    <%= render @points %>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'User list', users_path %>
<%= link_to 'Point使用', point_path(@user) %>
<% if logged_in? %>
  <%= link_to 'Logout', logout_path, method: :delete %>
<% end %>